<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    <h1>Registration Form</h1>
    <form action="/update_new/{{data.id}}/" method="POST">
 

        {% csrf_token %}
        <input type="text" name="name" value="{{data.name}}" placeholder="Enter the name"><br><br>
        <input type="number" name="no"  value="{{data.number}}" placeholder="Enter the number"><br><br>
        <input type="email" name="email" value="{{data.email}}" placeholder="Enter the email"><br><br>
        <input type="password" name="password" value="{{data.password}}" placeholder="Enter the password"><br><br>
       
        
        <button>Update</button>
    </form>
</body>
</html>